Repository kca-docker/picapport: changes, and which Woodpecker steps are due for each by the changed paths.
All: check_base, check_config, prepare-versions-list, update_doc

check_base:
  group: ls
  image: woodpeckerci/plugin-git
  commands:
  - cat Dockerfile
  - ls -la .woodpecker

check_config:
  group: ls
  image: woodpeckerci/plugin-git
  commands:
  - for f in .woodpecker/*.yaml; do cat $f; done

prepare-versions-list:
  image: alpine/curl
  commands:
  - echo 'Get list of available Versions:'
  - curl https://www.picapport.de/de/photo-server-download.php --silent | sed -En "s/.*dlfile=(.*)%2fpicapport-headless.jar\"/\1/p" > picapport.vers
  - cat ./picapport.vers
  - echo 'Get latest version:'
  ...

update_doc:
  image: peterevans/dockerhub-description:3
  environment:
    DOCKERHUB_USERNAME:
      from_secret: DOCKER_BKSOL_USER
    DOCKERHUB_PASSWORD:
      from_secret: DOCKER_BKSOL_PASS
    DOCKERHUB_REPOSITORY: bksolutions/picapport
    README_FILEPATH: README.md

Changes to be committed: modified: .woodpecker/create_versions.yml
  .woodpecker/create_versions.yml
Due: check_base, check_config

modified: .woodpecker/create_versions.yml
  .woodpecker/create_versions.yml
Due: check_base, check_config

global when
  .woodpecker/create_versions.yml
Due: check_base, check_config

Fix error log within check_repo
  .woodpecker/check_repo.yml
Due: check_base, check_config

Renamed: .woodpecker/check_repo.yml -> .woodpecker/check_repo.yml.bak
  .woodpecker/check_repo.yml.bak
Due: check_base, check_config

Trigger: README.md
  README.md
Due: update_doc

Update .deploy.tpl
  .woodpecker/.deploy.tpl
Due: check_base, check_config

Changes to be committed: modified: .woodpecker/.deploy.tpl
  .woodpecker/.deploy.tpl
Due: check_base, check_config

Create new CI/CD Release configurations...
  .woodpecker/deploy_10-3-01.yaml
  .woodpecker/deploy_10-4-00.yaml
  .woodpecker/deploy_6-3-06.yaml
  latest.url
  latest.vers
  picapport.vers
Due: check_base, check_config

Changes to be committed: new file: .woodpecker/compose.yml renamed: .woodpecker/create_versions.yml -> .woodpecker/create_versions.yml.bak modified: Dockerfile
  .woodpecker/compose.yml
  .woodpecker/create_versions.yml.bak
  Dockerfile
Due: check_base, check_config, prepare-versions-list

Changes to be committed: modified: .woodpecker/compose.yml
  .woodpecker/compose.yml
Due: check_base, check_config

Changes to be committed: modified: .woodpecker/compose.yml - JRE 17 -> 25 modified: Dockerfile - Fix comment
  .woodpecker/compose.yml
  Dockerfile
Due: check_base, check_config, prepare-versions-list

Changes to be committed: modified: .woodpecker/compose.yml - default-jre
  .woodpecker/compose.yml
Due: check_base, check_config

Changes to be committed: renamed: .woodpecker/compose.yml -> .woodpecker/build.yml
  .woodpecker/build.yml
Due: check_base, check_config

Changes to be committed: new file: .github/workflows/build.yml
  .github/workflows/build.yml
Due: check_base, check_config

Changes to be committed: modified: .github/workflows/build.yml
  .github/workflows/build.yml
Due: check_base, check_config

Changes to be committed: modified: Dockerfile
  Dockerfile
Due: check_base, check_config, prepare-versions-list

Changes to be committed: modified: .github/workflows/build.yml Changes not staged for commit: modified: .github/workflows/build.yml
  .github/workflows/build.yml
Due: check_base, check_config

Changes to be committed: modified: .github/workflows/build.yml modified: Dockerfile
  .github/workflows/build.yml
  Dockerfile
Due: check_base, check_config, prepare-versions-list

Aktualisieren von build.yml, Set only 2 Versions.
  .github/workflows/build.yml
Due: check_base, check_config

Path conditions:
  check_base: any file but: *.md, Dockerfiles/**
  check_config: any file but: *.md, Dockerfiles/**
  prepare-versions-list: any of: Dockerfile, *.sh
  update_doc: any of: *.md
